@* Páginas cshtml são chamados de Razor *@

@* Está diretiva define o 'model' que a view irá receber do Controller *@
@* Nesse caso, a view espera uma lista de objetos 'ProdutoModel' *@
@* Isso permite que você acesse os dados do C# diretamente na View usando a variável 'Model' *@
@model List<lojabanco.Models.ProdutoModel>

<h1>Lista de Produtos</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
  @foreach(var produto in Model){
    <tr>
      <th scope="row">@produto.Id</th>
      <td>@produto.Nome</td>
      <td>@produto.Preco</td>
      <td>
        <a href='@Url.Action("Detalhes", "Produtos", new {id = produto.Id})' class="btn btn-primary btn-sm">Ver</a>
        <a href='@Url.Action("Editar", "Produtos", new {id = produto .Id})' class="btn btn-primary btn-sm">Editar</a>
        <form asp-action="Deletar" asp-controller="Produtos" method="post" onsubmit="return confirm('Tem certeza que deseja  deletar o @produto.Nome?')">
            <input type="text" value="@produto.Id" name="id">
            <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
        </form>
      </td>
    </tr>
  }
  </tbody>
</table>